<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.chrismeehan.centralbrain</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{NODE_PATH}}</string>
    <string>{{PROJECT_DIR}}/dist/server/index.js</string>
  </array>
  <key>WorkingDirectory</key>
  <string>{{PROJECT_DIR}}</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>NODE_ENV</key>
    <string>production</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>{{PROJECT_DIR}}/data/central-brain.log</string>
  <key>StandardErrorPath</key>
  <string>{{PROJECT_DIR}}/data/central-brain.error.log</string>
</dict>
</plist>
